[SddmGreeterTheme]
Name=Materia
Description=real material style
Author=sudorook
Copyright=(c) 2021, sudorook
License=ISC
Type=sddm-theme
Version=0.1
Website=https://github.com/sudorook/materia-kde
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=materia
Theme-API=2.0
